// *****************************
//  Colores personalizados
// // *****************************
$c1:#c0b283;
$c2:#dcd0c0;
$c3:#f4f4f4;
$c4:#a7b3a5;
$t1:#44484a;
$t2:#000;
$t3:#474747;
$t4:#373737;
// ----------------------------------------
// Colores pagina web
// ------------------------------------------
.btn-c1{
  background-color:$c1;
}
.btn-c2{ 
  background-color:$c2;
}
.btn-c3{
  background-color:$c3;
}

.text-primary {
	color: $t1 !important;
}
.text-dark{
  color: $t2 !important;
}
.text-muted{
  color: $t3 !important;
}
*{
  color: $t4;
}
a:hover{
  text-decoration: none;
}

#lateral{
  background-color: $c1;
  box-shadow: 3px 3px 10px $c1;
}
#superior{
  background-color: $c2;
  box-shadow: 3px 3px 10px $c2;
  height: 52px;
  color: $t2;
}
#pagweb{
  background-color: $c3;
  height: calc(100vh - 52px);
}

.oculto{
  display: none;
}

#lateral {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
#lateral.active {
  margin-left: -17rem;
}
#contenido {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.5s;
}
#contenido.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #lateral {
    margin-left: -17rem;
  }
  #lateral.active {
    margin-left: 0;
  }
  #contenido {
    width: 100%;
    margin-left: 0;
  }
  #contenido.active {
    width: calc(100% - 17rem);
    margin-left: 17rem;
  }
  
}
