// *****************************
//  Colores personalizados
// // *****************************
$c1:#000000; //boton y barra lateral
$c2:#61a5e6; //barra superior
$c3: $c1; //botones registro
$c4: $c2; //fondo

$t1:#06172b; //text primary
$t2:#adc430; //text dark
$t3:#cccccc; //ies san sebastian
$t4:$c2; //letras barras #94c9d5
// ----------------------------------------
// Colores pagina web
// ------------------------------------------
.btn-c1{
  background-color:$c1;
}
.btn-c2{ 
  background-color:$c2;
}
.btn-c3{
  background-color:$c3;
}

.text-primary {
	color: $t1 !important;
}
.text-dark{
  color: $t2 !important;
}
.text-muted{
  color: $t3 !important;
}
.text-titulo{
  color: $t4;
}
*{
  color: $t1;
}
a:hover{
  text-decoration: none;
}



#lateral{
  background-color: $c1;
  box-shadow: 3px 3px 10px $c1;
}
#superior{
  background-color: $c2;
  box-shadow: 3px 3px 10px $c2;
  height: 52px;
  color: $t2;
}
.pagweb{
  background-color: $c4;
  height: calc(100vh - 52px);
}

.oculto{
  display: none;
}

#lateral {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
#lateral.active {
  margin-left: -17rem;
}
#contenido {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.5s;
}
#contenido.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #lateral {
    margin-left: -17rem;
  }
  #lateral.active {
    margin-left: 0;
  }
  #contenido {
    width: 100%;
    margin-left: 0;
  }
  #contenido.active {
    width: calc(100% - 17rem);
    margin-left: 17rem;
  }
  
}
